body {
    background: #f6f9f4;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 600px;
    margin: 0% auto;
}

.allCircles {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 30px 95px;
    border-radius: 50px;
    cursor: pointer;  
    opacity: 0.75;
    height: 350px;
    width: 350px;
    margin: auto;
    padding: 25px 0px 25px;
}

#circle {
    background: green;
    padding: 75px;
    border-radius: 50px;
    border: 4px solid #40604e;
    grid-column: 1 span 1;
}

#circle2 {
    background: red;
    padding: 75px;
    border-radius: 50px;
    border: 4px solid #a80c0a;
    grid-column: 2 span 2;
}

#circle3 {
    background: yellow;
    padding: 75px;
    border-radius: 50px; 
    border: 4px solid #ffd11c;
    grid-column: 1 span 2;
}

#circle4 {
    background: blue;
    padding: 75px;
    border-radius: 50px;
    border: 4px solid #31498e;
    grid-column: 2 span 2;
}

.buttons {
    border-radius: 25px;
    cursor: pointer;  
    height: 500px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.start, .quit {
    background: white;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin: 25px;
}

.hamburger {
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
}

#menu {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    margin: 0% auto;
}

h2, h3 {
    text-align: right;
    padding-right: 300px;
    padding-top: 10px;
    font-family: 'Fredoka One', cursive;
    margin: 0% auto;
}